.window {
  direction: rtl;
}

.nav-group-item > .icon {
  float: right !important;
  margin-left: 7px;
  margin-right: 15px !important;
}

form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

form .form-group {
  flex: 1 1 100%;
}

form .half {
  flex: 0 0 48%;
}

input[type="checkbox"] {
  margin-right: -20px !important;
  background-color: yellow;
}

.checkbox label {
  padding-right: 20px !important;
}
